%h1 Listing educations
%table
  %thead
    %tr
      %th Started
      %th Graduated
      %th University
      %th Degree
      %th Major
      %th Resume
      %th
      %th
      %th
  %tbody
    - @educations.each do |education|
      %tr{:class => cycle('odd', 'even')}
        %td= education.start_year
        %td= education.end_year
        %td= education.university
        %td= education.degree
        %td= education.major
        %td
          - if education.resume
            = link_to education.resume.title, education.resume
        %td.ctl= link_to 'Show', education
        %td.ctl= link_to 'Edit', edit_education_path(education)
        %td.ctl= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Education', new_education_path
