%h1 Listing resumes
%table
  %thead
    %tr
      %th Title
      %th Name
      %th Email
      %th Objective
      %th
      %th
      %th
  %tbody
    - @resumes.each do |resume|
      %tr{:class => cycle('odd', 'even')}
        %td= resume.title
        %td= resume.name
        %td= resume.email
        %td= truncate(resume.objective, :length => 35, :separator => ' ')
        %td.ctl= link_to 'Show', resume
        %td.ctl= link_to 'Edit', edit_resume_path(resume)
        %td.ctl= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Resume', new_resume_path
%br
= link_to 'List Educations', educations_path
%br
= link_to 'List Experiences', experiences_path
