<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resume.title %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @resume.objective %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resume.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @resume.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @resume.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @resume.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @resume.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @resume.phone_number %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
