%p.notice= notice
%section.contact_info
  %section.name
    %strong= @resume.name
  %section.address
    #{@resume.address},
    #{@resume.city},
    = @resume.state
    = @resume.postal_code
  %section.email
    = @resume.email
  %section.phone
    = @resume.phone_number
%section.objective
  %h3 Objective:
  = @resume.objective

- if @resume.educations.count > 0
  %section.education
    %h3 Education:
    - @resume.educations.each do |education|
      = education.university

- if @resume.experiences.count > 0
  %section.experience
    %h3 Experience:
    - @resume.experiences.each do |experience|
      = experience.company

%br
= link_to 'Edit', edit_resume_path(@resume) |
= link_to 'Back', resumes_path
