%p.notice= notice
%section.contact_info
  %section.name
    %strong= @resume.name
  %section.address
    #{@resume.address},
    #{@resume.city},
    = @resume.state
    = @resume.postal_code
  %section.email
    = @resume.email
  %section.phone
    = @resume.phone_number
%section.objective
  %h3 Objective:
  = @resume.objective

- if @resume.educations.count > 0
  %section.educations
    %h3 Education:
    - @resume.educations.each do |ed|
      .duration= "#{ed.start_year} - #{ed.end_year}"
      = ed.university

- if @resume.experiences.count > 0
  %section.experiences
    %h3 Experience:
    - @resume.experiences.each do |ex|
      .experience
        .duration= "#{ex.start_date} - #{ex.end_date}"
        .position
          %h2= ex.job_title
          %h3= ex.company
        .location
          = ex.location
        - if ex.experience_items.count > 0
          %ul.items
            - ex.experience_items.each do |item|
              %li= item.description

%br
= link_to 'Edit', edit_resume_path(@resume) |
= link_to 'Back', resumes_path
